.container {
  font-size: 72.5%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 3%;
  padding: 1%;
  border-radius: 5px;
  background: #d8d2d2;
  box-shadow: 0 5px 5px;
}

.container section p {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
